<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Радио Misto FM Beats</title>

        <meta name="description"
          content="Радиостанция Misto FM. Современный звук, последние хиты, лучшая музыка. Бесконечный музыкальный поток лучших композиций deep house, house, nu disco, chill-out и indie dance. Плейлист эфира. Контакты."/>
        <meta name="keywords"
          content="Радио, Misto Fm,  дип, дип фм, дип хаус, слушать музыку дип, слушать deep, Слушать радио онлайн, онлайн, online, chill-out, чил-аут, чил аут, диско, ню диско, nu disco, инди, инди денс, indie dance, слушать дип онлайн, Radio, Киев, Львов"/>
        
        <meta property="og:title" content="Радио Misto FM"/>
        <meta property="og:description"
          content="Радиостанция Misto FM. Современный звук, последние хиты, лучшая музыка. Бесконечный музыкальный поток лучших композиций deep house, house, nu disco и indie dance. Плейлист эфира. Контакты."/>
        <meta property="og:image" content="http://reold-vovax.c9users.io/img/icon-144x144.png">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name=apple-mobile-web-app-status-bar-style content=black>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
    </head>
    <body class="scroll-assist">
        
        <div class="page-loader align-center">
            <div class="preloader-squares align-center">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        
        <div class="nav-container">
            <a id="top"></a>
            <nav class="absolute transparent">
                <div class="nav-bar">
                    <div class="module left">
                        <a href="beats.html">
                            <svg class="logo-dark" width="200px" height="200px" viewBox="0 0 200 200">
                                <g class="letter one">
                                  <polygon class="piece one" points="9.2,10.7 6.9,8 6.9,22.6 9.2,22.6 9.2,14.2"/>
                                  <polygon class="piece two" points="13.8,19.5 6.9,11.6 6.9,8 15.3,17.7"/>
                                  <polygon class="piece three" points="20.6,11.5 20.6,8 13.8,16 15.3,17.7"/>
                                  <polygon class="piece four" points="18.3,22.6 20.6,22.6 20.6,11.5 18.3,14.2"/>
                                </g>
                                <g class="letter two">
                                  <path class="piece one" d="M154.4,22.6V8h2.3v14.6H154.4z"/>
                                </g>
                                <g class="letter three">
                                  <path class="piece one" d="M171.6,22.6c-1.5-0.1-3-0.7-4.5-1.9l1.3-1.7c1.2,0.9,2.3,1.3,3.4,1.4c0.9,0.1,1.6-0.1,2.3-0.5c0.8-0.5,1.3-1.5,1.1-2.2
                                    c-0.2-0.9-1.3-1.6-2.8-1.7c-1.1-0.1-2.1-0.5-2.8-1c-0.7-0.5-1.2-1.3-1.4-2.1c-0.2-0.7-0.2-1.5,0.1-2.2c0.2-0.7,0.7-1.3,1.3-1.8
                                    C170.1,8.3,171,8,172,8c1,0,2.1,0.3,3.2,1l-1.1,1.8c-0.8-0.4-1.5-0.7-2.1-0.7c-0.5,0-0.9,0.1-1.3,0.4c-0.3,0.2-0.5,0.5-0.6,0.8
                                    c-0.1,0.3-0.1,0.6,0,0.9c0.2,0.8,1.1,1.4,2.5,1.5c1.3,0.2,2.3,0.5,3.1,1.1c0.8,0.6,1.3,1.4,1.5,2.2c0.2,0.8,0.1,1.7-0.3,2.6
                                    c-0.4,0.8-1,1.5-1.7,2c-0.9,0.6-2,0.9-3.1,0.9C172,22.6,171.8,22.6,171.6,22.6z"/>
                                </g>
                                <g class="letter four">
                                  <path class="piece one" d="M50.2,10V8h10.3v2H50.2z"/>
                                  <path class="piece two" d="M56.5,10v12.5h-2.3V10H56.5z"/>
                                </g>
                                <g class="letter five" id="letterO">
                                  <path class="piece one" d="M113.7,18.3c-0.7-0.9-1.1-1.9-1.1-3c0-1.3,0.5-2.6,1.5-3.5c0.9-0.9,2.2-1.5,3.5-1.5V8c-1,0-1.9,0.2-2.8,0.6
                                    s-1.6,0.9-2.3,1.6c-0.7,0.7-1.2,1.5-1.6,2.3c-0.4,0.9-0.6,1.9-0.6,2.8s0.2,1.9,0.6,2.8c0.3,0.7,0.7,1.3,1.1,1.8L113.7,18.3z"/>
                                  <path class="piece two" d="M124.3,12.4c-0.3-0.7-0.7-1.3-1.1-1.8l-1.6,1.6c0.7,0.9,1.1,1.9,1.1,3c0,1.3-0.5,2.6-1.5,3.5c-0.9,0.9-2.2,1.5-3.5,1.5v2.3
                                    c1,0,1.9-0.2,2.8-0.6c0.9-0.4,1.6-0.9,2.3-1.6c0.7-0.7,1.2-1.4,1.6-2.3c0.4-0.9,0.6-1.8,0.6-2.8S124.7,13.3,124.3,12.4z"/>
                                  <path class="piece three" d="M122.8,10.1c-0.2-0.1-0.3-0.3-0.5-0.4L112,20c0.1,0.2,0.3,0.3,0.4,0.5c0.2,0.2,0.3,0.3,0.5,0.4l1.6-1.6l3-3l2.9-2.9l1-1
                                    l1.6-1.6C123.1,10.4,122.9,10.3,122.8,10.1z"/>
                                </g>
                                <g class="letter six">
                                  <path class="piece one" d="M54.2,10V8h10.3v2H50.2z"/>
                                  <rect class="piece three" x="54.2" y="13.9" width="5.3" height="2.1"/>
                                  <path class="piece three" d="M56.5,10v12.5h-2.3V10H56.5z"/>
                                </g>
                                <g class="letter seven">
                                  <polygon class="piece one" points="9.2,10.7 6.9,8 6.9,22.6 9.2,22.6 9.2,14.2"/>
                                  <polygon class="piece two" points="13.8,19.5 6.9,11.6 6.9,8 15.3,17.7"/>
                                  <polygon class="piece three" points="20.6,11.5 20.6,8 13.8,16 15.3,17.7"/>
                                  <polygon class="piece four" points="18.3,22.6 20.6,22.6 20.6,11.5 18.3,14.2"/>
                                </g>
                            </svg>
                            
                            <svg class="logo-light" width="200px" height="200px" viewBox="0 0 200 200">
                                <g class="letter one">
                                  <polygon class="piece one" points="9.2,10.7 6.9,8 6.9,22.6 9.2,22.6 9.2,14.2"/>
                                  <polygon class="piece two" points="13.8,19.5 6.9,11.6 6.9,8 15.3,17.7"/>
                                  <polygon class="piece three" points="20.6,11.5 20.6,8 13.8,16 15.3,17.7"/>
                                  <polygon class="piece four" points="18.3,22.6 20.6,22.6 20.6,11.5 18.3,14.2"/>
                                </g>
                                
                                <g class="letter two">
                                  <path class="piece one" d="M154.4,22.6V8h2.3v14.6H154.4z"/>
                                </g>
                                
                                <g class="letter three">
                                  <path class="piece one" d="M171.6,22.6c-1.5-0.1-3-0.7-4.5-1.9l1.3-1.7c1.2,0.9,2.3,1.3,3.4,1.4c0.9,0.1,1.6-0.1,2.3-0.5c0.8-0.5,1.3-1.5,1.1-2.2
                                    c-0.2-0.9-1.3-1.6-2.8-1.7c-1.1-0.1-2.1-0.5-2.8-1c-0.7-0.5-1.2-1.3-1.4-2.1c-0.2-0.7-0.2-1.5,0.1-2.2c0.2-0.7,0.7-1.3,1.3-1.8
                                    C170.1,8.3,171,8,172,8c1,0,2.1,0.3,3.2,1l-1.1,1.8c-0.8-0.4-1.5-0.7-2.1-0.7c-0.5,0-0.9,0.1-1.3,0.4c-0.3,0.2-0.5,0.5-0.6,0.8
                                    c-0.1,0.3-0.1,0.6,0,0.9c0.2,0.8,1.1,1.4,2.5,1.5c1.3,0.2,2.3,0.5,3.1,1.1c0.8,0.6,1.3,1.4,1.5,2.2c0.2,0.8,0.1,1.7-0.3,2.6
                                    c-0.4,0.8-1,1.5-1.7,2c-0.9,0.6-2,0.9-3.1,0.9C172,22.6,171.8,22.6,171.6,22.6z"/>
                                </g>
                                
                                <g class="letter four">
                                  <path class="piece one" d="M50.2,10V8h10.3v2H50.2z"/>
                                  <path class="piece two" d="M56.5,10v12.5h-2.3V10H56.5z"/>
                                </g>
                                
                                <g class="letter five" id="letterO">
                                  <path class="piece one" d="M113.7,18.3c-0.7-0.9-1.1-1.9-1.1-3c0-1.3,0.5-2.6,1.5-3.5c0.9-0.9,2.2-1.5,3.5-1.5V8c-1,0-1.9,0.2-2.8,0.6
                                    s-1.6,0.9-2.3,1.6c-0.7,0.7-1.2,1.5-1.6,2.3c-0.4,0.9-0.6,1.9-0.6,2.8s0.2,1.9,0.6,2.8c0.3,0.7,0.7,1.3,1.1,1.8L113.7,18.3z"/>
                                  <path class="piece two" d="M124.3,12.4c-0.3-0.7-0.7-1.3-1.1-1.8l-1.6,1.6c0.7,0.9,1.1,1.9,1.1,3c0,1.3-0.5,2.6-1.5,3.5c-0.9,0.9-2.2,1.5-3.5,1.5v2.3
                                    c1,0,1.9-0.2,2.8-0.6c0.9-0.4,1.6-0.9,2.3-1.6c0.7-0.7,1.2-1.4,1.6-2.3c0.4-0.9,0.6-1.8,0.6-2.8S124.7,13.3,124.3,12.4z"/>
                                  <path class="piece three" d="M122.8,10.1c-0.2-0.1-0.3-0.3-0.5-0.4L112,20c0.1,0.2,0.3,0.3,0.4,0.5c0.2,0.2,0.3,0.3,0.5,0.4l1.6-1.6l3-3l2.9-2.9l1-1
                                    l1.6-1.6C123.1,10.4,122.9,10.3,122.8,10.1z"/>
                                </g>
                                
                                <g class="letter six">
                                  <path class="piece one" d="M54.2,10V8h10.3v2H50.2z"/>
                                  <rect class="piece three" x="54.2" y="13.9" width="5.3" height="2.1"/>
                                  <path class="piece three" d="M56.5,10v12.5h-2.3V10H56.5z"/>
                                </g>
                                
                                <g class="letter seven">
                                  <polygon class="piece one" points="9.2,10.7 6.9,8 6.9,22.6 9.2,22.6 9.2,14.2"/>
                                  <polygon class="piece two" points="13.8,19.5 6.9,11.6 6.9,8 15.3,17.7"/>
                                  <polygon class="piece three" points="20.6,11.5 20.6,8 13.8,16 15.3,17.7"/>
                                  <polygon class="piece four" points="18.3,22.6 20.6,22.6 20.6,11.5 18.3,14.2"/>
                                </g>
                                
                            </svg>

                        </a>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li class="menu-link">
                                    <a href="index.html">Deep
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="juda.html">Juda
                                    </a>
                                </li>
                                <li class="menu-link active">
                                    <a href="#">Beats
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="delmar.html">Del Mar
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="module widget-handle add-drop-widget-handle left">
                            <div class="add-drop">
                                <i class="fa fa-plus"></i>
                                <span class="title">Playlist</span>
                            </div>
                            <div class="function">
                                <div class="widget">
                                    <div class="add-drop-overview">
                                        <ul class="playlist">
                                            <li class="about-list clearfix">
                                                <span class="about-icon play-icon show">
                                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                                </span>
                                                <span class="about-name on-listen">Live</span>
                                            </li>
                                            <li class="about-list clearfix">
                                                <span class="about-icon">
                                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                                </span>
                                                <span class="about-name played-2">David Guetta feat. Justin Bieber - 2U (Monkey MO remix)</span>
                                            </li>
                                            <li class="about-list clearfix">
                                                <span class="about-icon">
                                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                                </span>
                                                <span class="about-name played-3">Halsey - Sorry (Phatness Remix)</span>
                                            </li>
                                            <li class="about-list clearfix">
                                                <span class="about-icon">
                                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                                </span>
                                                <span class="about-name played-4">Modern Brothers - Need to Know (Carlos Pires Arnaldo Amaral Remix)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="module widget-handle soc-dropdown left">
                            <ul class="menu">
                                <li class="has-dropdown">
                                    <a href="#">ON AIR</a>
                                    <ul>
                                        <li>
                                            <a href="#" class="soc fb-share">Share On<i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="soc utube-find">Find On<i class="fa fa-youtube"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="soc scloud-find">Find On<i class="fa fa-soundcloud"></i></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main-container">
            <section class="mistofm cover fullscreen image-slider slider-arrow-controls controls-inside">
                <ul class="slides">

                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/8RVrrzy.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>
                    
                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/glU1e9B.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>
                    
                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/jmeXCXw.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>

                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/LJpMIDP.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>
                    
                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/zR0gn1K.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>
                    
                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/yo9CVJV.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>
                    
                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src="https://i.imgur.com/gAvto9z.jpg"/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                            <div class="col-md-4 hidden-sm hidden-xs"></div>
                            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                        </div>
                    </li>

                    <div class="container">
                        <div class="row">
                            <div class="bottom-player-side col-md-12">
                                <div class="bottom-player-block col-md-1 col-xs-3 left">
                                    <div class="player">
                                        <div class="btn-player play">
                                    		<span class="bar bar-1"></span>
                                    		<span class="bar bar-2"></span>				
                                    	</div>
                                    </div>
                                    <audio id="audio-player" preload="auto" data-album-src="img/logo_album.png" title="Misto FM Live">
                                    </audio>
                                </div>
                                <div class="bottom-player-block col-md-8 col-xs-9">
                                    <div class="track">
                                        <span id="track">
                                            <marquee scrollamount="1" scrolldelay="50" direction="left" truespeed="" class="on-listen">Live</marquee>
                                        </span>
                                    </div>
                                </div>
                                <div class="bottom-player-block col-md-3 col-xs-12 right">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </section>
            <footer class="footer-1 bg-dark rd-google-map-abs">
                <div class="container">
                    <div class="row">
                        <div class="empty col-md-3 col-sm-6 col-xs-12"></div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="widget">
                                <h6 class="title">About</h6>
                                <hr>
                                <ul class="post-about">
                                    <li>
                                        <p>
                                            Beats Station - сompositions of different music styles, from chil-out to pop music.</p>
                                        <p>
                                            Under the influence of good sound, sometimes all we need.</p>
                                        <p>
                                            Beats Station Uk/Lviv.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="mistofm">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">Copyright 2017  &copy; Misto Fm</span>
                        </div>
                        <div class="col-sm-6 text-right"></div>
                    </div>
                </div>
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">
                    <svg version="1.1" id="top-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                		 width="67px" height="26px" viewBox="0 0 67 26" enable-background="new 0 0 67 26" xml:space="preserve">
                	    <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="6" y1="24" x2="34" y2="3"/>
                	    <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="61" y1="24" x2="33" y2="3"/>
                	</svg>
                </a>
            </footer>
        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/player.js"></script>
        <!--<script src="js/google-map.js"></script>-->
        <script src="js/scripts.js"></script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '318530685222946',
              xfbml      : true,
              version    : 'v2.10'
            });
            FB.AppEvents.logPageView();
          };
        
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>
