{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}
        <div class="main-container">
            <section class="bg-dark pt160 pb160 pt-xs-80 pb-xs-80">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <h2 class="uppercase thin mb40 mb-xs-24 sp1">A different
                                <br/> kind of sound.</h2>
                            <p class="mb64 mb-xs-24 opacity09">
                                Most of the audio materials sounding on the radio were received from a free archives on the Internet and provided only for reference. We do not store and do not provide a links for downloading individual audio owned by the copyright holder. Also if your audio creativity got into the rotation and you do not want to play your song on our platform, please let us know and we will delete it from our resource.
                            </p>
                            <ul class="mb0">
                                <li class="mb8">
                                    <h5 class="uppercase inline-block mb0 sp1">Advertisement /&nbsp;</h5>
                                    <span class="opacity09"><a class="fontW400" href="mailto:reklama@mistofm.com.ua"><i>reklama@mistofm.com.ua</i></a></span>
                                </li>
                                <li class="mb8">
                                    <h5 class="uppercase inline-block mb0 sp1">Technical Support /&nbsp;</h5>
                                    <span class="opacity09"><a class="fontW400" href="mailto:support@mistofm.com.ua"><i>support@mistofm.com.ua</i></a></span>
                                </li>
                                <li class="mb8">
                                    <h5 class="uppercase inline-block mb0 sp1">Program Department /&nbsp;</h5>
                                    <span class="opacity09"><a class="fontW400" href="mailto:rotation@mistofm.com.ua"><i>rotation@mistofm.com.ua</i></a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pt140 pb140 image-bg">
                <div class="map-canvas" data-map-zoom="12" data-address="lviv,ukraine[nomarker];lviv;ukraine" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
            </section>
        {% include 'footer_central.html' %}
        </div>
{% endblock content %}