{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}
        <div class="main-container">
            <section class="bg-dark pt160 pb160 pt-xs-80 pb-xs-80">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <h2 class="uppercase thin mb40 mb-xs-24 sp1">A different
                                <br/> kind of sound.</h2>
                            <p class="mb64 mb-xs-24 opacity09">
                                {{ info.copyright_holder_text }}
                            </p>
                            <ul class="mb0">
                                <li class="mb8">
                                    <h5 class="uppercase inline-block mb0 sp1">Advertisement /&nbsp;</h5>
                                    <span class="opacity09"><a class="fontW400" href="mailto:{{ info.mail_ads }}"><i>{{ info.mail_ads }}</i></a></span>
                                </li>
                                <li class="mb8">
                                    <h5 class="uppercase inline-block mb0 sp1">Technical Support /&nbsp;</h5>
                                    <span class="opacity09"><a class="fontW400" href="mailto:{{ info.mail_support }}"><i>{{ info.mail_support }}</i></a></span>
                                </li>
                                <li class="mb8">
                                    <h5 class="uppercase inline-block mb0 sp1">Program Department /&nbsp;</h5>
                                    <span class="opacity09"><a class="fontW400" href="mailto:{{ info.mail_rotation }}"><i>{{ info.mail_rotation }}</i></a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pt140 pb140 image-bg">
                <div class="map-canvas" data-map-zoom="12" data-address="{{ info.address }}" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
            </section>
        {% include 'footer_central.html' %}
        </div>
{% endblock content %}
