<footer class="footer-1 bg-dark rd-google-map-abs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <a href="#">
                    <img alt="Logo" class="image-xs mb32 fade-on-hover" src="{{ url_for('static', filename='img/logo-color.png')}}"/>
                </a>
                <h5 class="fade-1-4 mb8">
                    Copyright 2017
                    <br/>&copy;Misto FM
                </h5>
                <ul class="list-inline social-list mb0">
                    <li>
                        <a href="https://www.facebook.com/mistofm">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/mistofm">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/misto_fm">
                            <i class="fa fa-soundcloud"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UChLgcTJT-8fXzki4PGWFuyg">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">
        <svg version="1.1" id="top-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="67px" height="26px" viewBox="0 0 67 26" enable-background="new 0 0 67 26" xml:space="preserve">
            <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="6" y1="24" x2="34" y2="3"/>
            <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="61" y1="24" x2="33" y2="3"/>
        </svg>
    </a>
</footer>