<footer class="footer-1 bg-dark rd-google-map-abs">
    <div class="container">
        <div class="row">
            <div class="empty col-md-3 col-sm-6 col-xs-12"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h6 class="title">About</h6>
                    <hr>
                    <ul class="post-about">
                        <li>
                            {{ station.description_html }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="widget">
                    <h6 class="title">Instagram</h6>
                    <hr>
                    <div class="instafeed" data-user-name="mistofm">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-6 col-md-6">
                <a class="sub" href="{{ url_for("index.contact_us") }}">Contact Us
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-6 text-right">
                <span class="sub">Copyright {{ current_year() }} &copy; Misto Fm</span>
            </div>
        </div>
    </div>
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">
        <svg version="1.1" id="top-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="67px" height="26px" viewBox="0 0 67 26" enable-background="new 0 0 67 26" xml:space="preserve">
            <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="6" y1="24" x2="34" y2="3"/>
            <line fill="none" stroke="#ffffff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="61" y1="24" x2="33" y2="3"/>
        </svg>
    </a>
</footer>
