
        <meta charset="utf-8">
        <title>Радио Misto FM {% if station is defined %}{{ station.name }}{% endif %}</title>

        {% for tag in html_tags %}
             {{ tag }}
        {% endfor %}
        {% if station is defined %}
        {% if station.name == 'deep' %}
            <meta name="description" content="Радиостанция Misto FM Deep. Современный звук, лучшая музыка, последние хиты deep house, electronic, nu disco и indie dance. Плейлист эфира. Контакты."/>
            <meta name="keywords" content="Радио, Misto Fm, місто фм львів, мисто фм, интернет радио, онлайн радио, дип, дип фм, вууз аь, дип хаус, слушать хаус, слушать дип, слушать deep, слушать дип, deep house музыка, radio deep, онлайн радио, слушать радио онлайн, chill-out, чил-аут, чил аут, relax, lounge, лаундж, диско, nu disco, инди, indie dance, tropical, edm music, deep онлайн, deep online, радио deep fm, радио lounge fm, слушать дип онлайн, bynthytn hflbj, lounge онлайн, hflsj jykfqy, киев, львов"/>
            {% elif station.name == 'juda' %}
            <meta name="description" content="Радиостанция Misto FM Juda. Бесконечный музыкальный поток лучших композиций deep house, deep tech, electronic, ambient и downtempo. Плейлист эфира. Контакты."/>
            <meta name="keywords" content="Радио, Misto Fm, мисто фм, интернет радио, онлайн радио, дип теч, дип фм, вууз аь, дип хаус, слушать теч, слушать теч хаус, radio, tech house музыка, tech music, музыка онлайн, онлайн радио, electronic music, downtempo, deep онлайн, techno online, techno, радио tech fm, слушать дип онлайн, bynthytn hflbj, lounge радио онлайн, hflsj jykfqy, радіо львів, radio lviv, радио киев, радио львов"/>
            {% elif station.name == 'beats' %}
            <meta name="description" content="Радиостанция Misto FM Beats. Последние хиты, лучшая музыка, современный звук, разные музыкальные стили, от chill-out до поп музыки. Плейлист эфира. Контакты."/>
            <meta name="keywords" content="Радио, Misto Fm, місто фм львів, radio beats, мисто фм, інтернет радіо, город фм, gorod fm, онлайн радио, дип теч, дип фм, вууз аь, едм музыка, слушать поп, слушать хаус, radio, pop музыка, chiil out, диско, музыка онлайн, онлайн радио, електронна музыка, electronic music, deep онлайн, lounge fm online, techno, радио fm, слушать дип онлайн, bynthytn hflbj, lounge радио онлайн, hflsj jykfqy, радіо львова, lviv, kyiv, радио киева, радио львов"/>
            {% elif station.name == 'delmar' %}
            <meta name="description" content="Радиостанция Misto FM Del Mar. Музыкальный поток лучших композиций downtempo, chill-out, lounge и ambient музыки. Плейлист эфира. Контакты."/>
            <meta name="keywords" content="Радио, Misto Fm, інтернет радіо, онлайн радио, chillout radio, чил фм, вууз аь, чилаут, слушать чил аут, слушать музыку чил, слушать deep, слушать дип, deep radio, deep музыка, слушать интернет радио, radio deep, онлайн радио, chill-out, чил-аут, relax, lounge fm, del mar, лаундж, инди, edm music, deep онлайн, радио deep fm, радио lounge fm, слушать чил онлайн, lounge радио онлайн, hflsj jykfqy, радіо львів, radio lviv, радио киев, львов"/>
            {% endif %}
        {% endif %}


        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg')}}" color="#5bbad5">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/volume.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108396293-1"></script>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-108396293-1', { 'userId': 'USER_ID' });
              ga('send', 'pageview');
        </script>
