{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}
        <div class="main-container">
            <section class="mistofm cover fullscreen image-slider slider-arrow-controls controls-inside">
                <ul class="slides">
                    {% for img in station.images %}

                    <li class="image-bg pt-xs-240 pb-xs-240">
                        <div class="background-image-holder">
                            <img alt="Misto Fm" class="background-image" src={{ img.image_url }}/>
                        </div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr class="mb24">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24"></div>
                                <div class="col-md-4 hidden-sm hidden-xs"></div>
                                <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs"></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                    <div class="container">
                        <div class="row">
                            <div class="bottom-player-side col-md-12">
                                <div class="bottom-player-block col-md-1 col-xs-3 left">
                                    <div class="player">
                                        <div class="btn-player play">
                                    		<span class="bar bar-1"></span>
                                    		<span class="bar bar-2"></span>				
                                    	</div>
                                    </div>
                                    <audio id="audio-player" preload="auto" data-album-src="{{ url_for('static', filename='img/logo_album.png')}}" title="Misto Fm ☆ Lviv ☆ On Air">
                                        <source src="{{ station.stream_url_free_channel }}" type="audio/mpeg">
                                    </audio>
                                </div>
                                <div class="bottom-player-block col-md-8 col-xs-9">
                                    <div class="volume">
                      					<span id="volume-progressbar" class="volume-progressbar"></span>
                      					<input type="range" min="0" max="100" step="1" value="100" id="np-volume" class="volume-slider" role="progressbar">
                    				</div>
                                    <div class="track">
                                        <span id="track">
                                            <marquee scrollamount="1" scrolldelay="50" direction="left" truespeed="" class="on-listen" id="onListen">
                                                <div id="onListen">On Air</div>
                                            </marquee>
                                        </span>
                                    </div>
                                </div>
                                <div class="bottom-player-block col-md-3 col-xs-12 right">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a href="https://www.facebook.com/mistofm"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/mistofm/"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://soundcloud.com/misto_fm"><i class="fa fa-soundcloud"></i></a></li>
                                            <li><a href="https://www.youtube.com/channel/UChLgcTJT-8fXzki4PGWFuyg"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
                <a id="bottom"></a>
            </section>
        {% include 'footer.html' %}
        </div>
{% endblock content %}
